# .env для локального запуска
SOFFICE_PATH=C:\Program Files\LibreOffice\program\soffice.exe
PDFTOPPM_PATH=C:\Users\nskra\Downloads\Release-26.02.0-0\poppler-26.02.0\Library\bin\pdftoppm.exe
ASSETS_DIR=C:\Users\nskra\Google Drive\SlideLibraryAssets
PORT=3001
SUPABASE_URL=https://xbsbjnnqiptffwluhmg.supabase.co
SUPABASE_SERVICE_KEY=ваш_ключ
ADMIN_EMAIL=you@company.com
ADMIN_NAME=Ваше Имя
