# Пути к LibreOffice (soffice)
# Если не указано, будет выполнен автоматический поиск
# SOFFICE_PATH=C:\Program Files\LibreOffice\program\soffice.exe
# SOFFICE_PATH=/usr/bin/soffice

# Пути к Poppler (pdftoppm)
# Если не указано, будет выполнен автоматический поиск
# PDFTOPPM_PATH=C:\ProgramData\chocolatey\bin\pdftoppm.exe
# PDFTOPPM_PATH=/usr/bin/pdftoppm